.csdn_comments .reply .voted {
  cursor: default;
}
.csdn_comments .reply .dislike_count {
  display: inline-block;
  margin-right: 3px;
}
.csdn_comments .reply .reply_comments {
  display: inline-block;
  margin-left: 6px;
}
.csdn_comments .reply_submit .disabled {
  background: none #999;
}
.csdn_comments .reply_reply {
  clear: both;
}
.csdn_comments .votewrap a {
  margin: 5px;
  color: #999;
}
.csdn_comments .reply_newreply {
  padding-top: 15px;
}
.csdn_comments .reply_newreply dt {
  padding: 1px;
  background: #fff;
}
.csdn_comments .reply_newreply dd {
  margin-bottom: 10px;
}
.csdn_comments .reply .more,
.csdn_comments .reply .more_close {
  background-position: 31px -54px;
}
.csdn_comments .weibo {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.csdn_comments .weibo_close {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 5px;
  display: inline-block;
  background: #008000;
  background-position: 0 -20px;
  vertical-align: middle;
}
.csdn_comments .note_grey {
  color: #999;
  font-size: 12px;
}
.csdn_comments .hidden {
  display: none;
}
.csdn_comments .childReply {
  padding: 10px 0 0;
}
.csdn_comments .empty-tip {
  margin: 20px auto;
  padding: 20px;
  background: #eee;
  text-align: center;
  font-size: 18px;
  color: #aaa;
}
.error {
  color: #f00;
}
.csdn_comments {
  position: relative;
}
.csdn_comments .noticetip {
  color: #e00;
  position: fixed;
  z-index: 99999;
  right: 100px;
  top: -100px;
  white-space: nowrap;
  font-size: 12px;
}
.csdn_comments .comments_tit {
  display: inline-block;
  font: 18px/30px 'microsoft yahei';
  margin: 20px 0;
  color: #8a99a4;
}
.csdn_comments .comments_tit span {
  color: #2a7cb9;
}
.csdn_comments .topreply h6,
.csdn_comments .topreply dl {
  display: none;
}
.csdn_comments .comments_reply .tab_1 {
  margin: 20px 0 0 10px;
  width: 70px;
  height: 60px;
  color: #8b99a4;
  position: absolute;
  display: inline-block;
}
.csdn_comments .comments_reply .tab_1:before {
  position: absolute;
  z-index: 1;
  content: "";
  border: 5px solid transparent;
  border-top-color: #8b99a4;
  top: 14px;
  right: 9px;
}
.csdn_comments .comments_reply .tab_1 ul {
  position: relative;
  z-index: 2;
  padding: 0px;
  margin: 0px;
  list-style: none;
  background: rgba(255,255,255,0.7);
  border: 1px solid #e2ecf5;
}
.csdn_comments .comments_reply .tab_1 ul li {
  cursor: pointer;
  display: none;
  text-align: center;
  padding-right: 20px;
  height: 28px;
  line-height: 28px;
}
.csdn_comments .comments_reply .tab_1 ul li.hover {
  display: block;
  font-weight: bold;
}
.csdn_comments .comments_reply .tab_1 ul li:hover {
  display: block;
  background: rgba(0,10,30,0.02);
}
.csdn_comments .comments_reply .tab_1 ul:hover li {
  display: block;
}
.csdn_comments .reply dl {
  position: relative;
}
.csdn_comments .reply dl dt {
  position: absolute;
  left: 30px;
}
.csdn_comments .reply dl dt img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.csdn_comments .reply dl dd {
  padding-left: 80px;
}
.csdn_comments .reply dl dd .spam-text {
  margin-top: 5px;
}
.csdn_comments .reply dl dd .reply_content,
.csdn_comments .reply dl dd .btn_wrap {
  transition: all 0.5s;
}
.csdn_comments .reply dl dd .cont_wrap.isspam .reply_content,
.csdn_comments .reply dl dd .cont_wrap.isspam .btn_wrap {
  height: 0px;
  opacity: 0;
  overflow: hidden;
}
.csdn_comments .reply dl dd .note_grey {
  font-size: 12px;
  color: #cdcdcd;
}
.csdn_comments .reply dl dd .note_grey a {
  margin-right: 15px;
  color: #8a9aa7;
  font-size: 14px;
}
.csdn_comments .reply dl dd .reply_content {
  padding: 5px 0 0 0;
  font-size: 14px;
}
.csdn_comments .reply dl dd .reply_content:not(.markdown_views) {
  white-space: pre-wrap;
  word-break: break-all;
}
.csdn_comments .reply .reply_btn {
  display: none;
/*position fixed*/
/*z-index 9999*/
/*right 30px*/
/*bottom -300px*/
/*opacity 0*/
/*transition all .8s ease*/
}
.csdn_comments .reply .btn-group {
  height: 15px;
  text-align: right;
  color: #418ec7;
}
.csdn_comments .reply .btn-group:hover {
  display: block;
}
.csdn_comments .reply .btn-group > * {
  margin-left: 20px;
  cursor: pointer;
}
.csdn_comments .reply .btn-group > *:hover {
  color: #2a7cb9;
}
.csdn_comments .reply .btn-group .user_name {
  display: none;
}
.csdn_comments .reply .comment-btns {
  font-size: 16px !important;
}
.csdn_comments .reply .comment-btns > * {
  position: absolute;
}
.csdn_comments .reply .comment-btns .votewrap {
  width: 50px;
  text-align: center;
}
.csdn_comments .reply .comment-btns .votewrap .from {
  position: absolute;
  margin: -30px 0 0 50px;
  text-align: left;
  z-index: 2;
  font-weight: 100;
  display: none;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
.csdn_comments .reply .comment-btns .votewrap .from:before,
.csdn_comments .reply .comment-btns .votewrap .from:after {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  top: 8px;
}
.csdn_comments .reply .comment-btns .votewrap .from:before {
  border-right-color: #ddd;
  left: -16px;
}
.csdn_comments .reply .comment-btns .votewrap .from:after {
  border-right-color: #fff;
  left: -15px;
}
.csdn_comments .reply .comment-btns .votewrap .from .more {
  text-align: right;
  color: #2a7cb9;
  cursor: pointer;
  border-bottom: 1px solid rgba(50,80,120,0.08);
  margin-bottom: 8px;
  padding-bottom: 5px;
}
.csdn_comments .reply .comment-btns .votewrap .from * {
  font-size: 12px !important;
  line-height: 18px !important;
}
.csdn_comments .reply .comment-btns .votewrap .from a {
  white-space: nowrap;
  display: block;
}
.csdn_comments .reply .comment-btns .votewrap .from .child_body {
  max-height: 150px;
  overflow: auto;
}
.csdn_comments .reply .comment-btns .fa-sort-down {
  margin-top: 25px;
}
.csdn_comments .reply .comment-btns.isup .fa-sort-up,
.csdn_comments .reply .comment-btns.isdown .fa-sort-down {
  color: #c00;
}
.csdn_comments .reply .comment-btns:not(.disabled) .vote {
  cursor: pointer;
}
.csdn_comments .reply .comment-btns:not(.disabled) .vote:hover {
  color: #c00;
}
.open_cmmde .rel_cmmde >.reply_btn {
  opacity: 1;
  bottom: 15px;
}
@media (max-width: 768px) {
  .open_cmmde .header_mini {
    z-index: 990;
  }
  .open_cmmde .rel_cmmde >.reply_btn {
    right: 10px;
  }
  .csdn_comments {
    padding: 0 10px 30px 10px !important;
  }
  .csdn_comments .reply dl:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .csdn_comments .reply .btn_wrap {
    border-bottom: 1px solid #f5f5f5;
    margin-top: 10px;
    height: 35px;
  }
  .csdn_comments .reply .comment-btns .vote {
    font-size: 20px;
  }
  .csdn_comments .reply .comment-btns .vote-like {
    margin: 5px 0 0 0;
  }
  .csdn_comments .reply .comment-btns .vote-dislike {
    margin: -4px 0 0 60px;
  }
  .csdn_comments .reply .comment-btns .votewrap {
    margin: 0 0 0 10px;
  }
  .csdn_comments .reply .comment-btns .votewrap .from {
    display: none !important;
  }
  .csdn_comments .reply .btn-group {
    float: right;
    font-size: 12px;
  }
  .csdn_comments .reply .childReply dt.user_img {
    left: -20px;
  }
  .csdn_comments .reply .childReply dd {
    padding-left: 20px;
  }
  .csdn_comments .reply .childReply .comment-btns {
    left: -30px;
  }
  .csdn_comments .reply > dl {
    border-bottom: 1px dotted #eee;
  }
  .csdn_comments .reply > dl > dt {
    left: 0px;
  }
  .csdn_comments .reply > dl > dt img {
    width: 30px;
    height: 30px;
  }
  .csdn_comments .reply > dl > dd {
    padding-left: 40px;
  }
}
@media (min-width: 769px) {
  .csdn_comments .comment-btns {
    position: absolute;
    width: 40px;
    left: 0px;
    top: 10px;
  }
  .csdn_comments .comment-btns .votewrap {
    margin: 8px 0 0 -20px;
  }
  .csdn_comments .btn-group {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    left: 150px;
    height: 40px;
  }
  .csdn_comments .reply dl {
    padding: 10px;
    margin: 5px 0;
  }
  .csdn_comments .reply dl .childReply .reply dl {
    padding: 10px 0;
  }
  .csdn_comments .reply .cont_wrap {
    margin-top: -20px;
    padding-top: 20px;
  }
  .csdn_comments .reply .cont_wrap:hover {
    background: #f8f9fb;
    box-shadow: 0px 0px 0 10px #f8f9fb, -90px 0px 0 10px #f8f9fb;
  }
  .csdn_comments .reply .cont_wrap:hover .btn-group {
    display: block;
  }
}
